*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


/* HEADER */

ul {
    list-style: none;
}

a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin-right: 20px;
}

.header-section{
    display:flex;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding:0 200px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color:#f9faf8;
}

.links{
    display: flex;
}

button {
    color: #fff;
    background-color:#3882f6;
    padding:4px;
    border: 0;
    border-radius: 6px;
    width: 140px;
    font-size:22px;
}

/* HERO SECTION */



.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    
    height: 400px;
    padding: 0 200px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color:f9faf8;
}

.hero-left{
    display:flex;
    flex-direction: column;
    width:450px;
    height: 300px;
    justify-content: space-evenly;
}

.hero-section img {
    width:300px;
    height: auto;
}



/* INFO SECTION */


.info-section {
    text-align: center;

    padding: 0 200px;
    height: 400px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.info-title{
    color:#1f2937;
    font-size: 36px;
    font-weight: bold;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card img{
    height: auto;
        width: 172px;
}




/* QUOTE SECTION */


.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1f2937;

    padding: 0 200px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.quote-sign {
    background-color: #e5e7eb;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}



.footer-section {
    display: flex;
    background-color: #1f2937;
}